.container{
    display: flex;
    background: #004f44;
    height: 45px;
    color: white;
    padding: 15px;
    .shopLink{
        color: white;
        text-decoration: none;
        font-weight: 600;
    }
}